<header>
  <img data-img="logo" src="/assets/images/hva-logo_<%= tv ? 'white' : 'black' %>.png" alt="Hogeschool van Amsterdam Logo">

  <h1><a href="/">Curriculum CMD</a></h1>
</header>

<% if (pathname !== '/') { %>
  <header data-header="breadcrumb">
    <nav data-nav="breadcrumb">
      <ul>
        <li><img src="http://www.cmd-amsterdam.nl/wp-content/uploads/2016/10/cmd_icon_enter_key-e1476734051778.png" alt="Navigatie presentatie, erg mooi"></li>
        <li><a href="/">Home</a></li>
        <% if (page.category) { %>
          <li>/</li>
          <li><a href="<%= page.category.replace(/ /g, '-') %>"><%= page.category %></a></li>
        <% } %>
      </ul>
    </nav>
</header>
<% } %>
