  <header>
    <h1><a href="/">Curriculum CMD</a></h1>

    <% if (parent) { %>
        [img]
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="<%= parent.replace(/ /g, '-') %>"><%= parent %></a></li>
          </ul>
        </nav>
    <% } %>
  </header>
