<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Curriculum CMD</title>

    <%- include partials/head -%>

    <%- include partials/header -%>

    <h2>Page not found.</h2>

    <p>
      <a href="/">Go back to the homepage</a>
    </p>

    <%- include partials/footer -%>
