<%- include partials/head -%>

<title>Curriculum CMD</title>

<%- include partials/header -%>

<body class="<%= tv === true ? 'tv' : '' %>">

  <h2>Geen pagina gevonden.</h2>

  <main>
    <p>
      <a href="/">Terug naar de homepagina</a>
    </p>
  </main>

  <%- include partials/footer -%>
