<%- include partials/head -%>
  <title>404</title>
</head>

<body class="<%= tv === true ? 'tv' : '' %>">

<%- include partials/header -%>

  <h2>404!!1!</h2>

  <main>
    <section>
      <h3>Geen pagina gevonden</h3>
      <p>
        De pagina waar je naar op zoek lijkt te zijn, is helaas niet gevonden in onze database.
      </p>
      <a href="/" class="button">Terug naar de homepagina</a>
    </section>
  </main>

  <%- include partials/footer -%>
