<%- include partials/head -%>
  <title>404</title>
</head>

<body class="<%= tv === true ? 'tv' : '' %>">

<%- include partials/header -%>

  <h2>Geen pagina gevonden.</h2>

  <main>
    <p>
      <a href="/">Terug naar de homepagina</a>
    </p>
  </main>

  <%- include partials/footer -%>
