<body>

  <% if (username) { %>
    <p>Logged in as <%= username %></p>
  <% } %>

  <ul>
    <li><a href="/subterra/pages">Pages</a></li>
    <li><a href="/subterra/types">Content types</a></li>
    <li><a href="/subterra/logout">Logout</a></li>
  </ul>
