<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Subterra</title>

    <%- include partials/head -%>

    <%- include partials/header -%>

    <h1>Curriculum CMD: Subterra</h1>

    <a href="/subterra/pages/add">Add new page</a>

    <%- include partials/footer -%>
