<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Add a menu</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

    <h1>Add a new menu</h1>

    <%- include ../partials/footer -%>
