<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">

		<title>Menus</title>

    <%- include ../partials/head -%>

    <%- include ../partials/header -%>

    <h1>Menus</h1>

    <%- include ../partials/footer -%>
