<%- include ../partials/head -%>

<title>Add a FAQ question</title>

<%- include ../partials/header -%>

<h1>Add a FAQ question</h1>

<p>
  Enter a question in the title field and set the answer in the field below that.
</p>

<form action="/subterra/faq/add" method="post" onsubmit="form.submit()">
  <fieldset>
    <legend>Question</legend>

    <label>
      Enter a question
      <input name="question" type="text" pattern="[a-zA-Z0-9\s]+" title="Only alphanumeric characters are allowed" required> ?
    </label>
  </fieldset>
  <fieldset>
    <legend>Content</legend>

    <ul data-list="content">
      <li>
        <label>
          Enter the answer
          <textarea name="answer"></textarea>
        </label>
      </li>
    </ul>
  </fieldset>

  <input type="submit" value="Publish">
</form>

<%- include ../partials/footer -%>
