<%- include partials/head -%>

<title>Subterra - Login</title>

<%- include partials/header -%>

<hgroup>
  <h1>Subterra</h1>
  <h2>Login</h2>
</hgroup>

<form action="/subterra/login" method="post">
  <fieldset>
    <label>
      Username
      <input type="text" name="username">
    </label>
    <label>
      Password
      <input type="password" name="password">
    </label>
    <input type="submit" value="Log in">
  </fieldset>
</form>

<%- include partials/footer -%>
